/* ADD FONTS HERE!!! */



/* Site colours */
/* OLD FROM DINO SITE */
/* :root {
    --backgroundColour: #1A1D1A;
    --textColour: #ffffff;
    --textColourALT: #000000;
    --siteBackdrop: #354F52;
    --headingColour: #EB5439;
    --accentColourLIGHTGRN: #84a98c;
    --accentColourDARKGRN: #52796f;
} */
/* UPDATED COLOURS */
:root {
    --backgroundColour: #1A1D1A;
    --textColour: #ffffff;
    --textColourALT: #000000;
    --siteBackdrop: #313131;
    --headingColour: #FA8334;
    --accentColourLIGHTBLUE: #337CA0;
    --accentColourDARKBLUE: #27233A;
}

/* For links */
.sitebar_container {
    /* background-image: url(/images/banner_pattern.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--headingColour);
    border-bottom: 4px solid var(--accentColourDARKBLUE);
    box-shadow: 0 4px 8px var(--textColourALT);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* Formatting links */
nav a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--textColour);
    background-color: #00000055;
    text-shadow: 2px 2px 0px #000000a2;
    text-decoration: none;
}
nav a:hover {
    color: var(--headingColour);
    transform: scale(1.1);
}
a:focus {
    outline: 4px solid var(--headingColour);
    color: var(--textColour);
    text-shadow: 2px 2px #000000;
    text-decoration: none;
}

/* Background stuff */
body {
    background-color: var(--backgroundColour);
    /* background-image: url(/images/background_tile_pattern.png); */
    background-size: 250px;
    
    color: var(--textColour);
}


main {
    margin-top: 8em;
}
  

/* Text */
h1 {
    /* font-family: "Protest Strike", sans-serif; */
    padding: 10px;
    border-radius: 5px;
    color: var(--headingColour);
    font-size: 2.5em;
    text-shadow: 2px 2px 0px #000000a2;
    text-align: center;
    background-color: var(--accentColourDARKGRN);
    border: 3px solid var(--accentColourLIGHTGRN);
}
  
h2 {
    /* font-family: "Protest Strike", sans-serif; */
    padding: 10px;
    border-radius: 5px;
    color: var(--textColour);
    font-size: 2em;
    text-shadow: 2px 2px 0px #000000a2;
    text-align: center;
    background-color: var(--accentColourDARKGRN);
    border: 3px solid var(--accentColourLIGHTGRN);
  
}
  
p {
    /* font-family: "Carlito", sans-serif; */
    font-size: 20px;
    padding: 8px;
    text-shadow: 1px 1px 0px #000000a2;
    background-color: var(--accentColourDARKGRN);
    border-left: 4px solid var(--accentColourLIGHTGRN);
    border-right: 4px solid var(--accentColourLIGHTGRN);
  
    b {
      color: var(--headingColour);
    }
}

/* Formatting header Nav links */
.navText {
    font-size: 30px;
    margin-top: 0.5em;
    /* margin-left: auto;
    margin-right: auto; */
    /* justify-content: center; */
    text-align: center;
}
  