/* Header text: Akaya Telivigala */
/* Body text: Winky Sans */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


/* Site colours */
/* OLD FROM DINO SITE */
/* :root {
    --backgroundColour: #1A1D1A;
    --textColour: #ffffff;
    --textColourALT: #000000;
    --siteBackdrop: #354F52;
    --headingColour: #EB5439;
    --accentColourLIGHTGRN: #84a98c;
    --accentColourDARKGRN: #52796f;
} */
/* UPDATED COLOURS */
:root {
    --backgroundColour: #1A1D1A;
    --textColour: #ffffff;
    --textColourALT: #000000;
    --siteBackdrop: #313131;
    --headingColour: #FA8334;
    --accentColourLIGHTBLUE: #337CA0;
    --accentColourDARKBLUE: #27233A;
}

/* For links */
.sitebar_container {
    /* background-image: url(/images/banner_pattern.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: var(--headingColour);
    border-bottom: 4px solid var(--accentColourDARKBLUE);
    box-shadow: 0 4px 8px var(--textColourALT);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/* Formatting links */
nav a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--textColour);
    background-color: #00000055;
    font-family: "Akaya Telivigala", sans-serif;
    text-shadow: 2px 2px 0px #000000a2;
    text-decoration: none;
}
nav a:hover {
    color: var(--accentColourLIGHTBLUE);
    transform: scale(1.1);
}
a:focus {
    outline: 4px solid var(--headingColour);
    color: var(--accentColourDARKBLUE);
    text-shadow: 2px 2px #000000;
    text-decoration: none;
}

/* Background stuff */
body {
    background-color: var(--backgroundColour);
    /* background-image: url(/images/background_tile_pattern.png); */
    background-size: 250px;
    
    color: var(--textColour);
}


main {
    margin-top: 8em;
}
  

/* Text */
h1 {
    font-family: "Akaya Telivigala", sans-serif;
    padding: 10px;
    border-radius: 5px;
    color: var(--headingColour);
    font-size: 2.5em;
    text-shadow: 2px 2px 0px #000000a2;
    text-align: center;
    background-color: var(--accentColourDARKGRN);
    border: 3px solid var(--accentColourLIGHTGRN);
}
  
h2 {
    font-family: "Akaya Telivigala", sans-serif;
    padding: 10px;
    border-radius: 5px;
    color: var(--textColour);
    font-size: 2em;
    text-shadow: 2px 2px 0px #000000a2;
    text-align: center;
    background-color: var(--accentColourDARKGRN);
    border: 3px solid var(--accentColourLIGHTGRN);
  
}
  
p {
    font-family: "Winky Sans", sans-serif;
    font-size: 20px;
    padding: 8px;
    text-shadow: 1px 1px 0px #000000a2;
    background-color: var(--accentColourDARKGRN);
    border-left: 4px solid var(--accentColourLIGHTGRN);
    border-right: 4px solid var(--accentColourLIGHTGRN);
  
    b {
      color: var(--headingColour);
    }
}

/* Formatting header Nav links */
.navText {
    font-size: 30px;
    margin-top: 0.5em;
    /* margin-left: auto;
    margin-right: auto; */
    /* justify-content: center; */
    text-align: center;
}


/* Grid properties */
.grid {
    display: grid;
}
.container {
    display: inline-grid;
}
.two-col {
    grid-template-columns: 1fr 1fr;
}
.six-col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


#grid-container-six {
    height: auto;
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    /* Keeping it visible for testing purposes */
    background-color: var(--accentColourLIGHTBLUE);
    padding: 10px;
}

#grid-container-two {
    height: auto;
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    /* Keeping it visible for testing purposes */
    background-color: var(--accentColourLIGHTBLUE);
    padding: 10px;
}

/* For elipse cutting (no longer being used) */
/* #boxOne {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  
    img {
        border-radius: 50%;
        border: 8px solid var(--accentColourLIGHTGRN);
        max-width: 400px;
    }
} */

/* Characters styling */
/* For Page */
.CharacterPageTitle {
    grid-column-start: 1;
    grid-row-start: 1;

    height: fit-content;
}
.CharacterPageDescription {
    grid-column-start: 2;
    grid-row-start: 1;
}
/* For Character (in content) */
.CharacterMainName {
    grid-column-start: 5;
    grid-row-start: 1;
}
.CharacterMainDescription {
    /* grid-column-start: 5; */
    grid-row-start: span 2;
    grid-column-start: span 2;
    grid-column-end: 5;

}
.CharacterLeftButton {
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: auto;
    margin-bottom: auto;
}
.CharacterMainCarousel {
    /* margin: auto; */
    grid-column-start: 2;
    grid-row-start: 1;

    /* position: relative; */
    /* height: 460px; */

    /* max-height: fit-content;
    max-width: fit-content; */

    /* margin: 40px 0; */
}
.CharacterRightButton {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-top: auto;
    margin-bottom: auto;
}
/* For carousel */
.CharacterMainCarousel img {
    position: absolute;
    width: 30%;

    /* transition: opacity 1s; */

    margin-top: auto;
    margin-bottom: auto;
}
.CharacterMainCarousel img:first-child {
    z-index: 1;
}

/* Dragon styling */
.DragonTitle {
    grid-column-start: 7;
    grid-row-start: 1;
}
.DragonDescription {
    text-align: right;
    grid-column-start: 7;
    /* grid-column-end: 6; */
    grid-row-start: 1;
    grid-row: span 2;
}
.DragonLeftButton {
    grid-column-start: 1;
    grid-row-start: 2;
}
.DragonSlideshow {
    grid-column-start: 2;
    grid-row-start: 2;
}
.DragonRightButton {
    grid-column-start: 3;
    grid-row-start: 2;
}


/* Misc styling */
.align-content-center {
    align-content: center;
    text-align: center;
}
.titlePicture {
    /* align-content: center; */
    max-width: 60%;

    margin-left: auto;
    margin-right: auto;
}

/* Footer */
footer {
    background-color: var(--headingColour);
    border-top: 4px solid var(--accentColourDARKBLUE);
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 20%;
    margin-bottom: 0;
    /* Dont ask me why this works, I have theories, but I don't wish to reopen this wound */
    margin-left: -8%;
    /* ^^^^ */
    margin-right: 0;
    padding: 0px, 0px;
    background-size: 100%;
  
  
    p.footer {
      font-size: 20px;
      padding: 8px;
      text-shadow: 1px 1px 0px #000000a2;
      background-color: var(--siteBackdrop);
      border: none;
  
  
      /* Non-header link styles */
      /* a {
        color: rgb(218, 61, 61);
        text-decoration: none;
      }
      a :hover {
        border: 4px solid var(--accentColourLIGHTGRN);
        ;
      } */
    }
  }
  